h1{
    color: green;
}
/* Exemplo das descriçoes de cada papel do que foi feito acima.
seletor{
    propriedade: valor;
}
*/
h2{
    color: green;
}
/* para chamar um id exemplo abaixo, com #NomeId*/
#economy h2{
    color: gold;
}
/* para chamar uma class como no exemplo abaixo, com .NomedaClass*/
.creation-date{
    color:#ccc;
}
/*  "*" seletor usado para selecionar todos os elementos da tela*/
* {
    color: red;
}