/*  "*" seletor usado para selecionar todos os elementos da tela , quando removemos as config padroes do navegador e aplicamos a nossa propria config , isso é chamado de reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
}

.container{
    width: 1366px;
    margin: 0 auto 0 auto;
}

<section {
    
}
